
.about {
    width: 100%;
}

img {
    padding-bottom: 100px;
    width:500px;
    height:auto;
}

.main {
    width:90%;
    max-width: 95%;
    display: flex;
    padding:25px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.main-text {
    width:550px;
    }

.main-text h1 {
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main-text h5 {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.main-text p {
    font-size:20px;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 15px;
}

.gallery {
    text-decoration: none;
    font-weight: bold;
    padding: 40px 50px;
    border-radius: 15px;
    border: none;
    background-color: salmon;
    cursor: pointer;
    font-size: 16px;
    color:black;
    display: inline-block;
}

.gallery:hover {
    text-decoration: none;
    font-weight: bold;
    background-color: #e07b5f;
    cursor: pointer;
}