
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    background-color: grey;
    display:grid;
}

.container h1 {
  float:left;
  display:block;
  width:50%;
  font-size:48px;
}

.container p {
  float: right;
  display:block
}

h1 {
  text-align: center;
  font-family:garamond;
  padding-top:10px;
  font-size: 72px;
}

.attention {
  background-color:#dddddd7e;
  margin:0;
}

h3 {
  float: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding:  16px; 
  font-size: 72px;
  background-color: #e2a16f9f;
}

.main-link {
  display: inline-block;
  line-height:0;
  text-decoration: none;
}
.Main_img, .main_img {
  display: block;
  margin: 30px auto 0;
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  background-color: #FFA600;
}

.main-link {
  padding-bottom:50px;   
  background-color:#dddddd7e
}

.button {
  background-color: #e2a16f9f;
  text-align: center;
  color:black;
}

.recipe-button {
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: 50px;
  font-size:36px;
  background-color:blanchedalmond
}

.button p {
font-size:36px;
padding:16px;
}

.card-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  width: 95%;
  height: 50%;

}

.top-recipe-section {
  width:90%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
}

.top-recipe-card h2, p {
  height:50px;
  text-align: center;
  margin:0;
} 

.top-recipe-card {
  background: #fff;
  margin: 30px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.top-recipe-card h2 {
  padding-top:10px;
  padding-bottom:50px;
  margin:0;
  background-color: rgb(162, 213, 255);
  font-size: 64px;
  text-align: center;
}

.Scard-image {
  display:block;
  width: 100%;
}

.recipe-card h2 {
  background-color:rgb(230, 230, 230);
}

.recipe-card h2, p {
  height:50px;
  text-align: center;
  padding-top:20px;
}

.recipe-card {
  background: #fff;
  margin: 30px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.recipe-section {
  width:90%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
}

.recipes {
  padding: 50px 0;
  
}

.recipes h2 {
  text-align: center;
  margin-bottom: 30px;
}

.recipe-card p {
  font-size: 18px;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}