
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
  text-align: center;
  font-family:garamond;
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 72px;
}

h2 {
  font-size:34px;
  font-weight: 700;
}

.attention {
  margin-top:15px;
  margin-bottom: 0px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  background-color: orange;
}

h3 {
  float: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  padding:  16px; 
  font-size: 72px;
  background-color: #e2a16f9f;
}

p {
  font-size: 16px;
  align-items: center;
}

.main-link {
  display: inline-block;
  line-height:0;
  text-decoration: none;
  background-image: url(pictures/background.jpeg);
  background-size: cover;
  width:100%;
  margin-top:0px;
}
.Main_img {
  display: block;
  margin: 30px auto 0;
  width: 95%;
  border-radius: 15px;
  padding: 10px;
  
}

.main-link {
  padding-bottom:50px;   
  background-color:#dddddd7e
}

.button {
  background-color: #e2a16f9f;
  text-align: center;
  color:black;
}

.recipe-button {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size:36px;
  text-decoration: none;
  color:black;
  border: 1px solid black;
  background-color: white;
}

.recipe-button:hover {
  background-color: #ccc;
  color:black;
}

.button p {
font-size:36px;
}

.card-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:5px;
  width: 95%;
  height: 50%;

}

.top-recipe-section {
  width:90%;
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 10px;
}

.top-recipe-card h2, p{
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
} 

.top-recipe-card {
  background: #fff;
  margin: 30px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.top-recipe-card h2 {
  padding-top:10px;
  padding-bottom:50px;
  margin:0;
  background-color: rgb(162, 213, 255);
  font-size: 64px;
  text-align: center;
}

.Scard-image {
  display:block;
  width: 100%;
  border-radius: 10px;
}

/* Card Section */

.recipes {
  padding: 50px 0;
  
}

.recipes h2 {
  text-align: center;
  margin-bottom: 30px;
}

.recipe_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.recipe_container, .recipe_card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow:hidden;
}

.recipe_container .card-image {
  width:100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.recipe_container .recipe_card a {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color:#F28C28;
  color:black;
  font-size:36px;
  font-weight:700;
  padding:15px 0px;
  border-radius: 10px;
}